/*image animation*/
.zoom {
    padding: 1px;
    background-color: grey;
    transition: transform .3s;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(3.5); /* IE 9 */
    -webkit-transform: scale(3.5); /* Safari 3-8 */
    transform: scale(3.5);
}
button{
    font-size:15px;
    color: #3c8dbc;
    margin-left:90%;
}
.textareas{
    border: none;
}